<ion-view view-title="Timeline">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider ion-alert-circled">Recent Updates</div>
      <div class="item item-body">
        <div>
          Your exam is <b>tomorrow!</b>
        </div>
      </div>
    </div>

     <div class="list card">

  <div class="item item-avatar">
    <img src="img/volta.jpg">
    <h2> Professor. Volta</h2>
    <p>December 25, 2015</p>
  </div>

  <div class="item item-body">
    <p>
      ဘက္ထရီေတြအေၾကာင္းေျပာရေအာင္
    </p>
    <p>
      <a href="#" class="subdued">16 ဦးအားေပးထားသည္</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      အားေပးမည္
    </a>
  </div>


    <div class="list card">

  <div class="item item-avatar">
    <img src="img/pi.jpg">
    <h2>Paing Thet Ko</h2>
    <p>December 24, 2015</p>
  </div>

  <div class="item item-body">
    <p>
      The app is great now
    </p>
    <img class="full-image" src="img/leaves.jpg">
    <p>
      <a href="#" class="subdued">1,215 ဦးအားေပးထားသည္</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      အားေပးမည္
    </a>
  </div>

</div>

 <div class="list card">

  <div class="item item-avatar">
    <img src="img/newton.jpg">
    <h2> Professor Issac Newton</h2>
    <p>December 24, 2015</p>
  </div>

  <div class="item item-body">
    <p>
      ေက်ာင္းပိတ္ပါျပီ
    </p>
    <p>
      <a href="#" class="subdued">999 ဦးအားေပးထားသည္</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      အားေပးမည္
    </a>
  </div>

</div>

  </ion-content>
</ion-view>
